
body {
background-color: #EDE7E3;
/*background-image: linear-gradient( #daedf1, #e8fbff);*/
color: #1b4166;
font-family: arial, helvetica, sans-serif; 
margin:0px;
}
div.content {
    margin-top: 40px;
margin-left: 60px;
margin-right: 60px;
}

.tab {  }

/* Link Start */
a:link {
  color: #db0000;
}
/* visited link */
a:visited {
  color: blue;
}
/* mouse over link */
a:hover {
  color: #ff0000;
}
/* selected link */
a:active {
  color: #ffc000;
}/* Link End */

/* Menu start */
div.rightSide {
    display: flex;
    /*justify-content: left;*/
    /*float:right;*/
    /*margin-left: 3vw;*/
}
div.nav {
    /*overflow: hidden;*/
    position:absolute;
    right: 30px;
}
.nav a {
  /*float: left;*/
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav a:hover, .dropdown:hover .dropbtn {
  background-color: #FFA62B;
}
ul.Menu {
list-style-type: lower-alpha;
 padding: 5em;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
/*  transform: skewX(25deg);
*/  /*position: fixed;
  top: 0;*/
}



ul.Menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14.5px;
/*  transform: skewX(25deg);*/
}

ul.Menu li a:hover {
  background-color: #111;
}
ul.no-bullets {
  list-style-type: none;
}
li {
    font-size: 19px;
    
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right:0;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {
  background-color: #111;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown {
position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #333;
  font-family: inherit;
  margin: 0;
  
}
/* Menu End*/

h1 {
    color: #fff; 
    font-size: 4vw;
    /*margin-top:65px;*/
    
}
h2 {color: #1b4166; font-size: 3vw;}
h3 {color: #1b4166}



.tab {
  font-size: 19px; text-indent: 50px;
}
p {
    font-size:19px;
}

/*  Old Gallery Start
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  height: 400px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
 Old Gallery Finish */
 
 /* New Gallery Start */
.image-gallery {
    overflow: auto; 
    margin-left: -1%!important;
}
.image-gallery a {
    margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  height: 320px;
    text-align: center; 
    text-decoration: none!important;
}
.image-gallery a span {
    display: block; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    padding: 3px 0;
}
.image-gallery a img {
  width: 100%;
  height: auto; 
  display: block;
}

/* New Gallery End */

/* lightbox start */
.lightbox {
    position: fixed;
    z-index: 999;
    height: 0;
    width: 0;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    font-family: 'Hi Melody', cursive;
    font-size: 1.5em;
}

.lightbox-background {
    opacity: 1 !important;
    
}

.lightbox img {
    max-width: 80%;
    /*max-height: 80%;*/
    /*margin-top: 2%;*/
    margin-bottom: 1.5%;
    opacity: 0;
}



.lightbox:target {
    /** Remove default browser outline */
    outline: none;
    width: 100%;
    height: 100%;
    opacity: 1 !important;
    display:flex;
    justify-content:center;
    flex-flow: wrap;
}
/* lightbox end */

/* header start */

div.header {
    background-color:#1B4166;
    padding:20px;
    display: flex;
    
}
div.leftSide {
    
    display: flex;
    justify-content: left;
    
}
img#Avatar { 
    width: 20vw;
    display:flex;
     
    /*float:left;*/
}

div.title {
    padding-left:20px;
    margin-top:65px;
}
/* header end  */
div.tex {margin:25px 10vw 25px 10vw;}

iframe.video {
    text-align:right;
    border: none; 
    
    width:60vw;
    height:50vh;
    background-color: #1B4166;
    padding: 1em; 
    border-radius: 20px;
    flex-wrap: wrap;
}
iframe.website {
    text-align:center;
    border: none; 
    width:90%;
    height:35vh;
    
    
}

/* display div start */

/*div.displayR {
    float:right;
    text-align:right;
    margin-top:3rem;
    margin-bottom:3rem;
    margin-left:auto;
    margin-right:auto;
    width: 65%;
    flex-wrap: wrap;
}*/
/*div.displayl {
    float:left;
    text-align:left;
    margin-top:3rem;
    margin-bottom:3rem;
    margin-left:auto;
    margin-right:auto;
    width: 30%;
    flex-wrap: wrap;
}*/
/*div.disTex {
    float:left;
    background-color: #63C7B2;
    padding: 1em; 
    border-radius: 20px;
    width: 25vw;
    margin-top:3rem;
    margin-bottom:3rem;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-wrap: wrap;
    
    
}*/
p.disTex {
    float:left;
    background-color: #82C0CC;
    padding: 1em; 
    border-radius: 20px;
    width: 25vw;
    margin-top:3rem;
    margin-bottom:3rem;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-wrap: wrap;
    /*word-break: break-all;*/
    
}
div.disTexL {
    float:left;
    /*display:flex;*/
    text-align:center;
    background-color: #82C0CC;
    padding: 1em; 
    border-radius: 20px;
    width: 45%;
    margin-top:3rem;
    margin-bottom:3rem;
    margin-left:auto;
    margin-right:auto;
    flex-wrap: wrap;
}
div.disTexR {
    float:right;
    /*display:flex;*/
    text-align:center;
    background-color: #82C0CC;
    padding: 1em; 
    border-radius: 20px;
    width: 45%;
    margin-top:3rem;
    margin-bottom:3rem;
    margin-left:auto;
    margin-right:auto;
    flex-wrap: wrap;
}
div.capsule {
    justify-content: space-around;
    display:flex;
    flex-wrap: wrap;
}

/* FOOTER */
footer {
    width: 100%;
    margin: 50px 0px 0px 0px;
}
.foot {
    text-align:right;
    font-size: 17px; 
    text-indent: 0px;
}
span.foot {
    text-align:right;
}

/* Download button */

.download {
    text-align:center;
    
}
.button {
    font-size: 19px;
    background-color:#FFA62B;
}

